@model DB.Prodotto

@{
    ViewData["Title"] = "Magazzino GiDi";
}

@using (Html.BeginForm("SalvaNuovoProdotto", "Prodotti", FormMethod.Post))
{
    @Html.EditorForModel()
    <button type="submit">Salva prodotto</button>
}

<script>
    document.getElementById("Id").setAttribute('readonly', 'true');
    document.getElementById("ProduttoreId").setAttribute('readonly', 'true');
</script>

