@model List<DB.Prodotto>

@{
    ViewData["Title"] = "Magazzino GiDi";
}

<div style="text-align:center;" class="mt-3">
    <img src="~/images/shelf.svg" alt="Alternate Text" style="width:60%;" />
</div>


