@model List<DB.Produttore>

@{
    ViewData["Title"] = "Selezione Produttore";
}

<h2>Selezionare produttore articolo</h2>

<div class="clearfix mt-4">
    @foreach (var item in Model)
    {
        <form asp-action="NuovoProdotto" asp-controller="Prodotti" method="post" class="float-left m-1">
            <input type="number" name="idProduttore" value="@item.Id" hidden="hidden" />
            <button type="submit" class="btn btn-outline-secondary">
                <img src="@item.LogoUrl" alt="Logo" style="max-height:50px;" />
                <p class="mb-0 mt-1">@item.Nome</p>
            </button>
        </form>
    }
</div>


